body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  list-style: none;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  padding: 16px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link.current {
  color: #404bbf;
}
.menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.menu,
.contacts {
  display: none;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
  font-style: normal;
}
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icon {
  width: 24px;
  height: 24px;
  fill: #2e2f42;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 40px 20px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 200ms;
}
.menu-close:hover,
.menu-close:focus {
  background-color: #404bbf;
}
.menu-icon {
  width: 24px;
  height: 24px;
  stroke: #2e2f42;
}
.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 42px 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-link {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.mobile-menu-link.current {
  color: #404bbf;
}
.mobile-contacts {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile-phone {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  text-decoration: none;
}
.mobile-email {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.mobile-socials {
  display: flex;
  justify-content: start;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.section {
  padding: 96px 0;
}
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 112px 0;
  max-width: 428px;
  margin: 0 auto;
}
.hero-container {
  margin-inline: auto;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 72px;
  max-width: 320px;
  margin-inline: auto;
}
.hero-btn {
  display: block;
  padding: 16px 32px;
  height: 56px;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  background-color: #ffffff;
}
.adv-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.adv-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.adv-icon {
  display: none;
}
.adv-icon_svg {
  width: 64px;
  height: 64px;
  fill: currentColor;
}
.adv-item {
  color: #2e2f42;
}
.adv-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
  text-align: left;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 48px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.team-card {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
  overflow: hidden;
  text-align: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card img {
  display: block;
  width: 100%;
  height: auto;
}
.team-card:hover,
.team-card:focus {
  box-shadow: 0px 4px 8px rgba(46, 47, 66, 0.2),
    0px 2px 4px rgba(46, 47, 66, 0.12), 0px 1px 6px rgba(46, 47, 66, 0.16);
}
.team-content {
  padding: 32px 0;
}
.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 8px;
}
.team-role {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}
.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 12px 0 0;
  padding: 0;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials_link:hover,
.socials_link:focus {
  background-color: #404bbf;
}
.socials_icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.portfolio-item {
  flex-basis: 100%;
}
.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  box-sizing: border-box;
}
.portfolio-title {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-card {
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover,
.portfolio-card:focus-within {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  display: none;
}
.portfolio-card:hover .portfolio-overlay-text,
.portfolio-card:focus-within .portfolio-overlay-text {
  transform: translateY(0%);
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.footer-logo {
  display: inline-block;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
}
.footer .logo-accent {
  color: #4d5ae5;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-text {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin: 0 auto;
  text-align: center;
}
.footer-socials-title {
  margin: 0 0 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.footer-socials .socials {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.socials-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #31d0aa;
}
.socials-icon {
  fill: currentColor;
  display: block;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}
.subscribe-input {
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}
.subscribe-icon {
  fill: currentColor;
  margin-left: 16px;
}
.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  min-height: 640px;
  padding: 72px 24px 24px;
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: #ffffff;
}
.modal-title {
  margin: 0 0 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.modal-field {
  margin-bottom: 8px;
}
.field-comment {
  margin-bottom: 16px;
}
.field-privacy {
  margin-bottom: 24px;
}
.modal-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 58px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.input-wrap:focus-within .modal-icon {
  fill: #4d5ae5;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-text {
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.check-box {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text .check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.policy-link {
  color: #4d5ae5;
}
.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 24px auto 0;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .logo {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .contacts-link {
    font-size: 12px;
  }
  .menu-toggle {
    display: none;
  }
  .section {
    padding: 120px 0;
  }
  .hero {
    max-width: 768px;
    padding: 120px 0;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .adv-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .adv-item {
    max-width: 356px;
  }
  .adv-heading {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }
  .team-title {
    font-size: 36px;
    margin-bottom: 64px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-card {
    flex: 0 1 264px;
    max-width: 264px;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
  }
  .portfolio-item img {
    width: 356px;
    height: 300px;
    object-fit: cover;
    display: block;
  }
  .footer-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
  .footer-left {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 264px;
    text-align: left;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  .footer-text {
    text-align: left;
  }
  .footer-socials {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 208px;
    text-align: left;
  }
  .footer-socials-title {
    text-align: left;
  }
  .footer-subscribe {
    flex-basis: 100%;
    max-width: 453px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-subscribe-title {
    margin-bottom: 16px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 100%;
  }
  .subscribe-label {
    flex: 1;
    max-width: none;
  }
  .subscribe-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background: transparent;
    color: #fff;
    box-sizing: border-box;
  }
  .subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: #4d5ae5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    height: 40px;
    cursor: pointer;
  }
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #404bbf;
  }
}
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    padding: 0;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .logo {
    margin-right: 76px;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .contacts-link {
    font-size: 16px;
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  .nav ul,
  .menu,
  .contacts ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
  .modal-close {
    top: 24px;
    right: 24px;
  }
  .modal-input {
    height: 40px;
  }
  .section {
    padding: 120px 0;
  }
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .adv-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .adv-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adv-icon_svg {
    width: 64px;
    height: 64px;
    fill: currentColor;
  }
  .adv-heading {
    font-size: 20px;
    font-weight: 500;
  }
  .team-title {
    margin-bottom: 72px;
  }
  .team-card {
    flex-basis: calc((100% - 72px) / 4);
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  .portfolio-title {
    font-weight: 700;
  }
  .portfolio-overlay-text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .portfolio-card:hover .portfolio-overlay-text,
  .portfolio-card:focus-within .portfolio-overlay-text {
    transform: translateY(0%);
  }
  .footer {
    padding: 100px 0;
  }
  .footer-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
  }
  .footer-socials {
    margin-left: 40px;
  }
  .footer-left {
    margin-right: 0;
    flex: 0 0 auto;
  }
  .footer-text {
    max-width: 264px;
    text-align: left;
  }
  .footer-socials-title,
  .footer-subscribe-title {
    text-align: left;
  }
  .footer-subscribe {
    align-items: flex-start;
    margin-left: auto;
    flex: 0 0 453px;
    width: 453px;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .subscribe-input {
    width: 264px;
  }
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg2.jpg");
  }
}
